{% extends 'base.html.twig' %}

{% block title %}


{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("css/main.css") }}"/>
{% endblock %}

{% block body %}


<div class="row featured-content-background">

    <div class="col-3"></div>

    <div class="col-4 d-flex align-items-center">
        <div class="w-100">
            <h3 class="bold-text featured-artist">
                {% for artist in featuredRecord.artists %}
                    {{ artist.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </h3>
            <h1 class="bold-text default-white featured-title">{{ featuredRecord.name }}</h1>
            <p class="default-white featured-description"> {{ featuredRecord.description }}</p>

            {% for genre in featuredRecord.genres %}
                <div class="record-genres">
                    <a class="default-orange" href="">
                        {{ genre.description }}{% if not loop.last %}, {% endif %}
                    </a>
                </div>
            {% endfor %}
            

            <div class="row">
                <div class="col-6">
                    <form action="{{ path("add_to_cart", { "id": featuredRecord.id })}}" method="post">
                        <input type="image" class="featured-add-shopping-cart" src="{{ asset('images/add-shopping-cart-white.svg') }}">
                    </form>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <a href="{{ path("app_recordpage", {"id": featuredRecord.id}) }}">
                        <button class="btn btn-primary">More Info</button>
                    </a>
                </div>
            </div>
        </div> 
    </div>
    <div class="col-4 d-flex align-items-center justify-content-start">
        <img class="featured-image" src="{{ asset("record-images/beetles-abbey-road.webp")}}"/>
    </div>

    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="search-bar-margin">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-12">
        <div class="record-grid-container record-grid-template">
            {% for record in recordList %}
                <div class="record-grid-item">
                    <div class="center-image-flex flex-column">
                        <img class="record-image" src="{{ asset("record-images/beetles-abbey-road.webp")}}"/>

                        <div class="record-genres d-flex justify-content-end">
                        {% for genre in record.genres %}
                            <a href="">
                                {{ genre.description }}{% if not loop.last %}, {% endif %}
                            </a>
                        {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-10 d-flex flex-column">
                                
                                <h1 class="bold-text d-inline-block text-truncate record-listing-title">{{ record.name }}</h1>
                                
                                <h2 class="bold-text d-inline-block text-truncate record-listing-artist">
                                    {% for artist in record.artists %}
                                        {{ artist.name }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </h2>
                            </div>
                            <div class="col-2 d-flex justify-content-end">
                                <form action="{{ path("add_to_cart", { "id": record.id })}}" method="post">
                                    <input type="image" class="featured-add-shopping-cart" src="{{ asset('images/add-shopping-cart.svg') }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>
</div>

{% endblock %}
