<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{asset("css/base.css")}}"/>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap("app") }}{% endblock %}
        {% endblock %}
    </head>

    <header class="default-font">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 top-bar">
                    <div class="row">
                        <div class="col-4">
                            <a href="{{ path("app_homepage") }}">
                                <div class="d-flex align-items-center">
                                    <img class = "top-bar-logo" src="{{ asset("images/disc-payoff.svg") }}" alt="Logo Image"/>
                                    <img class = "top-bar-logo-text" src="{{ asset("images/runtime-records-logo.svg") }}" alt="Logo Image"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 login-text bold-text d-flex align-items-center">
                            {% if app.user %}
                                {% if "ROLE_ADMIN" in app.user.getRoles() %}
                                    <a href="{{ path("app_admin") }}">Admin Panel</a>
                                {% endif %}
                                <a href="{{ path("app_logout") }}">Log Out</a>
                            {% else %}
                                <a href="{{ path("app_login") }}">Log In</a>
                                <a href="{{ path("app_register") }}">Register</a>
                            {% endif %} 
                        </div>

                        <div class="col-2 pe-5">
                            
                            <div class="grid-2">
                                {% if app.user %}
                                    <div class="top-bar-cart">
                                        <a href="{{path("app_checkout")}}">
                                            <img class="right-aligned" src="{{ asset("images/shopping-cart.svg") }}"/>
                                        </a>
                                    </div>
                                    
                                {% endif %}
                                <div class="top-bar-menu">  
                                    <div class="top-bar--menu-trigger">
                                        <img class="" src="{{ asset("images/menu.svg") }}"/>
                                        {# <div class="dropdown">
                                            
                                        </div> #}
                                    </div>
                                </div> 
                            </div>
                            
                           
                            
                                

                            <a href=""> 
                                <img />
                            </a>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <body class="default-font d-flex flex-column min-vh-100">
        <div class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>
    </body>
    <footer class="default-font mt-auto">
        <div class="container-fluid">
            <div class="row bottom-bar bold-text">
                <div class="col-3">
                    <ul title="Runtime Records">
                        <li>
                            <a href="">
                                <img class="bottom-bar-icon" src="{{asset("images/mail.svg")}}"/> info@runtime-records.com
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="bottom-bar-icon" src="{{asset("images/discogs.svg")}}"/> discogs.com/runtime-records
                            </a>
                        </li>
                        <li>
                            <a href=""> 
                                <img class="bottom-bar-icon" src="{{asset("images/facebook.svg")}}"/> facebook.com/runtime-records
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="bottom-bar-icon" src="{{asset("images/twitterx.svg")}}"/> @RuntimeRecords
                            </a>
                        </li>
                        <li>
                            <a href=""> 
                                <img class="bottom-bar-icon" src="{{asset("images/instagram.svg")}}"/> @RuntimeRecords
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul title="Info">
                        <li><a href="">About us</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Shipping</a></li>
                    </ul>
                </div>
                <div class="col-5 flex vertical-center bottom-bar-logo">
                        <img class = "float-end" src="{{ asset("images/disc-payoff-white.svg") }}" alt="Logo Image"/>
                        <img class = "float-end" src="{{ asset("images/record-store-day.svg") }}" alt="Logo Text"/>
                </div>
            </div>
        </div>
    </footer>
</html>
